.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image-container {
  position: relative;
}

.profile__image {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  object-fit: cover;
  background-position: center;

  margin-right: 24px;
}

.profile__image-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  display: none;

  content: url(../images/profile-image-edit.svg);
}

.profile__image:hover {
  opacity: 80%;
}

.profile__image:hover + .profile__image-edit {
  display: block;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;

  align-items: baseline;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  margin: 0;

  color: #ffffff;

  grid-area: title;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;

  margin-left: 18px;

  box-sizing: border-box;
  border: 1px solid #ffffff;

  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  max-width: 415px;

  color: #ffffff;

  grid-area: description;
  margin: 0;

  padding-top: 16px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;

  width: 150px;
  height: 50px;

  margin-left: auto;

  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile__image {
    margin-left: 27px;
  }

  .profile__add-button {
    margin-right: 27px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
    padding-top: 38px;

    margin: auto;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    padding-top: 26px;

    font-size: 22px;
    line-height: 27px;
    text-align: center;

    max-width: 196px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    padding-top: 14px;

    width: 100%;

    max-width: 282px;

    font-size: 14px;
    line-height: 17px;

    text-align: center;
  }

  .profile__add-button {
    width: 282px;
    max-width: 282px;

    margin-left: 0;
    margin-right: 0;

    padding: 0;

    margin-top: 36px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;

    margin-left: 10px;
    padding: 0;
  }
}
